@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");

* {
  font-family: "Unbounded", cursive;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-image: url(https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #0d3477;
  margin-top: 5rem;
  padding: 4rem;
  border-radius: 10px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #3c89e0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 40px 0px 0px 40px;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #3c89e0;
  color: #fff;
  border: none;
  border-radius: 0px 40px 40px 0px;
  padding: 0.55rem;
  cursor: pointer;
}
.todo-btn:hover {
  color: #031a56;
  background-color: #fff;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c89e0;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #0e1b7b;
  text-decoration: line-through;
}
